#my-portrait {
  width: 200px;
  min-height: 200px;
}
h1 {
  color: black;
  font-size: 300%;
  margin-left: 10px;
}

p {
  font-family:"serif";
  text-indent: 0px;
  margin-left: 10px
}

#content {
  background-color: pink;
  width: 1000px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px green;
  font-size: 20px;
}
#Labs {
  background-color: pink;
  width: 970px;
  min-height: 300px;
  padding: 10px;
  margin: 0px;
  border: solid 5px green;
  font-size: 20px;
}
