/* <div style="background-image: url('darkocean.gif');"> */



/* #bg-pic {
    width: 2000px;
    height: 1600px;
} */

body {
  background-image: url('darkocean.gif');
  background-size: 100% 100%;
}
